/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
$primary-color: #444;

body,
html {
  font-family: "Open Sans", sans-serif;
  background: #f2f2f2;
  height: 100%;
  margin: 0 auto;
}

body {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
